*.bak
*.bin
*.cmake
*.db
*.dir
*.filters
*.o
*.opendb
*.out
*.pof
*.pyc
*.qws
*.sln
*.user
*.vcd
*.vcxproj
*.wlf

# Working directories
build_Debug/
build_Release/
dtb/
work/

# CMake
CMakeFiles/
CMakeCache.txt

# Editor
.vscode/ipch/
.vscode/settings.json
.vscode/c_cpp_properties.json

# Windows (MSVC)
.vs/
Debug/
Release/
Win32/
ipch/
x64/
x86/

# manually checked-out submodules
third_party/rafi-prebuilt-binary

# Python
**/__pycache__/

# for Quartus
**/Quartus/**/*.txt
**/Quartus/**/db/
**/Quartus/**/output_files/
**/Quartus/**/incremental_db/
**/Quartus/**/simulation/
