*.bin
*.db
*.o
*.opendb
*.out
*.pyc
*.wlf

*.pof
*.qws
*.bak

transcript
.ninja_deps
.ninja_log

Linux/
Work/

**/__pycache__/
**/.vscode/
**/Outputs/

# for Quartus
**/Quartus/**/*.txt
**/Quartus/**/db/
**/Quartus/**/output_files/
**/Quartus/**/incremental_db/
**/Quartus/**/simulation/
